*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2188ff;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  background: none;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #222;
}

/* grid */
.container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.col {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.col-4 {
  -webkit-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media (min-width: 768px) {
  .col-md-4 {
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    -webkit-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .flex-md-row-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line-height-1 {
  line-height: 1;
}

/* button */
.btn {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.15;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: #e50914;
  border: 1px solid #e50914;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(229, 9, 20, 0.3);
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #e50914;
  color: #e50914;
  box-shadow: 0 3px 5px 0 rgba(229, 9, 20, 0.05);
}

/* section */
.section-vertical-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

/* video */
.video-wrapper {
  position: relative;
  padding-bottom: 55.5%;
  height: 0;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.8);
}

.header-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-left-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.header-right-content {
  padding-left: 10px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.is-sticky.header {
  border-bottom-color: #e9e9ec;
}

.is-sticky .header-right-content {
  opacity: 1;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.header-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 12px;
  line-height: 1.2;
}

.header-install-btn {
  padding: 8px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 20px;
    margin-left: 16px;
  }

  .header-install-btn {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
}

/* hero banner */
.hero-content {
  -webkit-align-items: center;
  align-items: center;
  height: 100vh;
  padding-top: 80px;
  min-height: 500px;
}

.hero-intro-container {
  padding-right: 20px;
}

.hero-intro-title {
  font-size: 30px;
  font-weight: bold;
}

.hero-intro-description {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: #444;
  margin-top: 24px;
}

.hero-intro-btn-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 40px;
}

.hero-install-btn {
  padding: 16px 40px;
}

.hero-preview-image {
  width: 100%;
}

.hero-preview-video {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-content {
    padding-top: 0px;
  }
}

/* featured */
.featured {
  background-color: #f8f8fb;
}

.ph-badge {
  display: inline-block;
}

.ph-badge:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
}

/* feature */
.feature {
  background-color: #141414;
}

.feature .section-title {
  color: #fff;
}

.feature-item {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-align-items: center;
  align-items: center;
}

.feature-item:first-of-type {
  padding-top: 0px;
}

.feature-item:last-of-type {
  padding-bottom: 10px;
}

.feature-preview-video {
  width: 100%;
}

.feature-details {
  margin-top: 20px;
}

.feature-title {
  font-size: 24px;
  color: #fff;
}

.feature-description {
  margin-top: 12px;
  color: #e5e5e5;
}

@media (min-width: 768px) {
  .feature-details {
    margin-top: 0px;
  }
}

/* pricing */
.price-plan-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 32px;
  height: 100%;
  border: 1px solid #e1e4e8;
  background-color: #fdfdfd;
  border-radius: 8px;
}

.price-plan-pwyw {
  background-color: #fff8f2;
  border-color: #ffd1ac;
}

.price-plan-item-title {
  font-size: 24px;
  font-weight: bold;
}

.price-plan-body {
  margin-top: 20px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.price-plan-benefit-list-item {
  margin-top: 16px;
}

.price-plan-benefit-list-item:first-child {
  margin-top: 0;
}

.price-plan-benefit-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.price-plan-benefit-icon {
  width: 20px;
  height: 20px;
}

.benefit-check-icon {
  color: #2ea44f;
}

.benefit-heart-icon {
  color: #ff813f;
}

.price-plan-benefit-title {
  margin-left: 12px;
}

.price-plan-footer {
  margin-top: 32px;
}

.bmac-btn {
  width: 100%;
  height: 52px;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  background-color: #ff813f;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(255, 129, 63, 0.3);
}

.bmac-btn:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
}

.bmac-btn-image {
  width: 171px;
  border-radius: 30px;
}

/* footer */
.footer {
  background-color: #f8f8fb;
}

.credits-container {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 14px;
}

.credits-item {
  color: #888;
}

.footer-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e9e9ec;
}

.footer-nav {
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-nav p,
.footer-nav a {
  font-size: 14px;
  color: #888;
}
